.main-car-img img {
  width: 27rem;
  border-radius: 8px;
  height: 16rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  
}
.card-description {
  background-color: rgb(233, 245, 255);
  width: 28.6rem;
  border-radius: 10px;
}
.main-car-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-description{
    padding: .8rem;
}
.card-main-headingAnd-model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.card-main-headingAnd-model p{
    border: 2px dashed blue;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
}
.main-fecilities{
    display: flex;
    margin: 0rem .8rem;
    margin-top: -.9rem;
}
.main-fecilities p{
    margin-left: .5rem;
    color: black
}
.main-fecilities img{
   width: 1.3rem;
}
 .first-row div{
    display: flex;
    margin-top: 1rem;
}

.second-row div{
    display: flex;
    margin-left: 3rem;
    margin-top: 1rem;
}
hr{
    margin-top: 1rem;
    border: 1px solid rgb(237, 237, 237);
}
.pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing p{
    font-size: 1.3rem;
    margin-left: 1rem;
    font-weight: 500;
}
.pricing p span{
    font-size: .9rem;
}
.like-rent-side{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.like-rent-side img{
    width: 2.1rem;
    margin-right: 1rem;
    background: rgb(194, 226, 254);
    padding: 8px;
    border-radius: 10px;
}
.like-rent-side button{
    padding: .5rem 1rem;
    border-radius: 10px;
    color:#fff;
    background: blue;
    border: none;
}
.pages-links{
    display: flex;
    gap: 2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.pages-links a{
    background: rgb(255, 255, 255);
    padding: .3rem 1rem;
    margin: .3rem;
    color: black;
    /* border: 1px solid black; */
    border-radius: 50px;
    display: flex;
    text-decoration: none;

} 
.pages-buttons{
    display: flex;
    border-radius: 10px;
    padding: 0.5rem 4rem 0.8rem 4rem;
    background-color: rgb(217, 237, 255);
}
.pre-next a{
   border-radius: 10px;
}
